[server]
http_addr = 127.0.0.1

[analytics]
reporting_enabled = false

[security]
admin_user = {{ grafana_username }}
admin_password = {{ grafana_password }}
secret_key = {{ grafana_key }}

[users]
allow_sign_up = false

[auth.anonymous]
enabled = true

[metrics]
enabled = false
